.note-title {
    font-size: 1.5rem;
    font-weight: bold;
    word-break: break-word;
}

.note-subtitle {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 2rem;
    word-break: break-word;
}

.container-note2 {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 1rem 1rem 1rem 4rem;
}

.container-note {
    overflow: auto;
    /* Enable scrollbars when content exceeds div size */
    max-height: 300px;
    height: 149px;
    word-break: break-all;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    border: solid rgb(197, 197, 197) 1px;
    box-shadow: 11px 9px 5px 1px rgba(74, 74, 75, 0.2);
}

.container-title-text-note {
    padding-right: 20px;
    padding-bottom: 50px;
}