.hidden {
    display: none;
}

.home-link {
    color: white;
    text-decoration-line: none;
    font-weight: bold;
}
.task-link, .notebooks-link{
    color: white;
    text-decoration-line: none;
}

.navbar-fixed-left {
    width: 201px;
    position: fixed;
    height: 100%;
    background-color:
        #2f3338;
    margin: 0;
    padding: none;
    display: flex;
}

.profile-btn {
    position: relative;
    background-color: #484e55;
    padding: 10px;
    padding-left: 34px;
    padding-right: 34px;
    border: none;
}

.main-button-div {
    padding-bottom: 2px;
}

.homelink-main-div {
    position: relative;
    background-color: #484e55;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
}

.tasklink-main-div, .notebooklink-main-div{
    position: relative;
    background-color: #484e55;
    padding: 10px;
    text-align: center;
}

.profile-image {
    width: 55px;
    height: 55px;
    border-radius: 20px;
}

.fa-user-circle {
    font-size: 55px;
}

.fa-angle-down {
    padding-left: 20px;
    font-size: 20px;
}

.profile-arrow {
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.main-container-user-info {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 10px;
}

.firstname {
    color: white;
}

.email {
    color: white;
}

.username {
    color: white;
}

.logout-button {
    position: relative;
    background-color: #484e55;
    padding: 10px;
    border: none;
    width: 179px;
    color: white;
}

.modaltext {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    background-color: #484e55;
    cursor: pointer;
}